PORT=3000
ADMIN_ACCESS_TOKEN="your admin api access token"
SHOP_NAME="iminxx-test"
SHOP_NAME_FULL="iminxx-test.myshopify.com"
API_VERSION="2025-10"
STOREFRONT_API_ENDPOINT="https://iminxx-test.myshopify.com/api/2026-01/graphql.json"